<link rel="import" href="../bower_components/polymer/polymer.html">
<dom-module id="paycor-ui-component-loader">
    <div>{{name}}</div>
    <template>
        <div id="container"></div>
    </template>
    <script>
        Polymer({
            is: "paycor-ui-component-loader",
            properties: {
                name: {
                    type: String,
                    observer: '_loadComponent'
                }
            },
            attached: function () {
               console.log(this.name);
            },
            _loadComponent: function(newVal) {
                var component = "";
                if(newVal == 'addPolicy'){
                    component = 'elements/paycor-ui-core-policy.html'
                }

                if(newVal == 'addPolicyApi'){
                    component = 'elements/paycor-ui-core-policy-api.html'
                }

                this._removeElement();
                this.importHref(component, function (e) {
                    var myElement = document.createElement('paycor-ui-core-policy');
                    this.$.container.appendChild(myElement);
                    //myElement.myProperty = "anything";
                },  function(){
                    console.log("error");
                });
            },
            _removeElement: function () {
                var element = this.$.container.querySelector("paycor-ui-core-policy");
                if (element) {
                    element.parentNode.removeChild(element);
                }
            }
        });
    </script>
</dom-module>

