<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-drawer-panel/paper-drawer-panel.html">
<link rel="import" href="../bower_components/paper-item/paper-item.html">
<link rel="import" href="../bower_components/paper-menu/paper-menu.html">
<link rel="import" href="../bower_components/paper-menu/paper-submenu.html">
<link rel="import" href="paycor-ui-core-policy.html">
<link rel="import" href="paycor-ui-component-loader.html">


<dom-module id="paycor-ui-menu">
    <template>
        <style>
            :host{
                display: block;
            }
            .drawer-shadow {
                height: 100px;
                -webkit-box-shadow: 5px 0 2px -2px #fafafa ;
                box-shadow: 5px 0 2px -2px #fafafa;
            }
            paper-drawer-panel {
                height: 100vh;
                position: relative;
                --paper-drawer-panel-left-drawer-container: {
                    background-color: #c3c3c3;
                };
            }

            paper-menu{
                background-color: transparent;
            }
        </style>
        <paper-drawer-panel>
            <div drawer class="drawer-shadow">
                <paper-menu attr-for-selected="name" selected="{{selected}}">
                    <paper-submenu>
                        <paper-item class="menu-trigger">Configure Company</paper-item>
                        <paper-menu class="menu-content">
                            <paper-item>Topic 1</paper-item>
                            <paper-item>Topic 2</paper-item>
                            <paper-item>Topic 3</paper-item>
                        </paper-menu>
                    </paper-submenu>
                    <paper-submenu>
                        <paper-item class="menu-trigger">Labor Costing</paper-item>
                        <paper-menu class="menu-content">
                            <paper-item name="addPolicy">Manage Labor Costing</paper-item>
                            <paper-item>Labor Policies</paper-item>
                        </paper-menu>
                    </paper-submenu>
                    <paper-submenu >
                        <paper-item class="menu-trigger">TIme & Attendance</paper-item>
                        <paper-menu class="menu-content">
                            <paper-item name="timecard">Time Card</paper-item>
                            <paper-item name="timeoff">Time Off</paper-item>
                        </paper-menu>
                    </paper-submenu>
                </paper-menu>
            </div>
            <div main>
                <paycor-ui-component-loader name="addPolicy"></paycor-ui-component-loader>
            </div>
        </paper-drawer-panel>
    </template>
    <script>
        Polymer({
            is: 'paycor-ui-menu',
            properties: {
                selected : {
                    type : String,
                    observer: '_selectedChanged'
                }

            },
            _selectedChanged: function (newVal) {
                console.log(newVal);
            }
        });
    </script>
</dom-module>