<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/iron-data-table/iron-data-table.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">

<dom-module id="paycor-ui-core-policy">
    <template>
        <style is="custom-style">
            #policyGrid data-table-row:not([header]) data-table-cell {
                height: 60px;
            }
            #policyGrid {
                --iron-data-table-header: {
                    background-color: #37474F;
                    color: #ccc;
                    font-size: 1.2em;
                    font-weight: 400;
                };
                --iron-data-table-row: {
                    height: 60px;
                    align-items: center;
                };
                --iron-data-table-row-odd: {
                    background-color: #fff;
                };
                --iron-data-table-row-even: {
                    background-color: #fafafa;
                };
                --iron-data-table-row-hover: {
                    background-color: #eee !important;
                };

            }
        </style>

        <section>
             <div>
                 <paper-button on-click="_toggleAddPolicyDialog">New Policy</paper-button>
                 <paper-dialog id="dialog" role="dialog"  with-backdrop>
                     <h2>Add New Policy</h2>
                     <paper-input  name="polname" value="{{policy.name}}" label="Policy Name"></paper-input>
                     <paper-input name="polempnumber" value="{{policy.total}}" label="Employee Total"></paper-input>
                     <div>
                         <paper-button on-click="_add">Add</paper-button>
                         <paper-button on-click="_close">Close</paper-button>
                     </div>
                 </paper-dialog>
             </div>
        </section>
        <section style="position: relative">
            <iron-ajax url="../policies.json" last-response="{{policies}}" auto></iron-ajax>
            <iron-data-table  id="policyGrid" items="[[policies]]">
                <data-table-column name="#" width="50px" flex="0">
                    <template>[[index]]</template>
                </data-table-column>
                <data-table-column name="Policy Name">
                    <template>[[item.policy.name]]</template>
                </data-table-column>
                <data-table-column name="Employees">
                    <template>[[item.policy.employeeTotal]]</template>
                </data-table-column>
                <data-table-column name="Actions">
                    <template>
                        <span style="padding-right: 20px">Edit</span>
                        <span>Delete</span>
                    </template>
                </data-table-column>
            </iron-data-table>
        </section>

    </template>
    <script>
        Polymer({
            is: "paycor-ui-core-policy",
            properties: {
                policies : {
                    type: Array,
                    value: function () {
                        return [];
                    }
                },
                policy: {
                    type: Object,
                    value: function(){
                        return {
                            name: "",
                            total: ""
                        }
                    }
                }
            },

            attached: function () {
               console.log(this.policies.length);
            },
            _add: function () {
                var newPolicy = {"policy": { "name": this.policy.name,  "employeeTotal": this.policy.total  }};

                //rebinding
                this.policies.push(newPolicy);
                var pols = this.policies;
                this.policies = {};
                this.policies = pols;

                // close the dialog
                this.$.dialog.close();
            },

            _toggleAddPolicyDialog: function () {
                this.$.dialog.open();
            },

            _close: function () {
                this.$.dialog.close();
            }
            
        });
    </script>
</dom-module>

