<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-toolbar/paper-toolbar.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="paycor-ui-breadcrumb.html">



<dom-module id="paycor-ui-navbar">
    <template>
        <style>
            :host {
                display: block;
            }

            .container {}
        </style>
        <section class="container">
            <paper-toolbar class="medium-tall">
                <paper-icon-button icon="menu"></paper-icon-button>
                <span class="title"></span>
            </paper-toolbar>
        </section>
        <section>
            <paycor-ui-breadcrumb status="{{text}}"></paycor-ui-breadcrumb>
        </section>

    </template>
    <script>
        Polymer( {
            is: 'paycor-ui-navbar',
            properties: {
                text: String
            },
            attached: function () {
                console.log(this.text);
            }
        });
    </script>
</dom-module>