<link rel="import" href="../bower_components/polymer/polymer.html">
<dom-module id="paycor-ui-breadcrumb">
    <template>
        <style>
            :host{
                display: block;
            }
            .notification {
                width: 100vw;
                background-color: #c3c3c3;
            }
        </style>
        <div class="notification">
            <label>You are logged <span>[[status]]</span> -  change client</label>
        </div>
    </template>
    <script>
        Polymer({
            is: 'paycor-ui-breadcrumb',
            properties: {
                status : String
            },
            attached: function () {
               console.log(this.status);
            },
            attributeChanged: function(newValue, oldValue){
                console.log(newValue + ' was changed from ' + oldValue);
            }
        });
    </script>
</dom-module>